*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    color: white;
}




.head{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to right ,rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%), url(bg.jpg);
   
    
    background-position: center;
    
    
}

.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
   font-size: 28px;
   color: white;
}
.navItems{
    list-style: none;
    display: flex;
    justify-content:space-between ;
    gap: 30px;
}

li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.searchBox{
    border: 1.3px solid #fc8608;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;

}

.srchBtn{
    padding: 13px 20px;
    border: none;
    outline: none;
    background-color: #fc8608;
    color: white;
}



.content{
    width: 100%;
    height: calc(100vh - 90px);
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.textContent{
    width: 50%;
    
}

.web{
   font-size: 45px;
   line-height: 60px;
}

span{
    color: #fc8608;
}
p{
    line-height: 20px;
}
.btn{
    padding: 10px 40px;
    background-color: #fc8608 ;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.loginForm{
    display: flex;
    justify-content: end;
    width: 50%;
}

.form{
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 10px;
}

.loginHere{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: 600;
}

input[type = text]{
       width: 100%;
       background-color: transparent;
       /* border: none; */
       border-bottom:1px solid #fc8608;
       color: white;
}

input[type = text]::placeholder{
    color: #cfcfcf;
}

.btnlogin{
    background-color: #fc8608;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.btnlogin:hover, .btn:hover ,.srchBtn:hover{
    background-color: #d77205;

}
 a:hover{
    color: #d77205;
 }